<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Check_Knowledge.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Check_Knowledge.My.MySettings>
            <setting name="st1" serializeAs="String">
                <value/>
            </setting>
            <setting name="st2" serializeAs="String">
                <value/>
            </setting>
            <setting name="st3" serializeAs="String">
                <value/>
            </setting>
            <setting name="st4" serializeAs="String">
                <value/>
            </setting>
            <setting name="sotam" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fullscreen" serializeAs="String">
                <value>turn_on</value>
            </setting>
            <setting name="update" serializeAs="String">
                <value>1.0.0</value>
            </setting>
            <setting name="allow_internet" serializeAs="String">
                <value>ko</value>
            </setting>
            <setting name="client_ver" serializeAs="String">
                <value>1.0.0</value>
            </setting>
        </Check_Knowledge.My.MySettings>
    </userSettings>
</configuration>
